= semantic_form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
  %h2 Sign in

  = devise_error_messages!

  - f.inputs do
    = f.input :email, :input_html => { :type => :email }
    = f.input :password

  = f.submit "Sign in"

  = render :partial => "devise/shared/links"
