= semantic_form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
  - f.inputs do
    = f.input :email, :input_html => { :type => :email }
    = f.input :password

  = f.submit "Log in"

  = render :partial => "devise/shared/links"
